<ion-view view-title="Cadastro">
    <ion-header-bar class="bar-stable">

    </ion-header-bar>
    <ion-content>
        <div class="login">
        <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" ng-model="user.email" name="login">
        </label>
        <label class="item item-input">
            <span class="input-label">Nome</span>
            <input type="text" ng-model="user.name" name="nome">
        </label>
        <label class="item item-input">
            <span class="input-label">Senha</span>
            <input type="password" ng-model="user.password" name="senha" ng-hide="showPassword">
            <input type="text" ng-model="user.password" name="senha" ng-show="showPassword">
        </label>
            <ion-checkbox on-touch="showPassword = !showPassword">Mostrar Senha</ion-checkbox>
        </div>
        <div class="login2">
        <button class="btn btn-block btn-success btn-lg" ng-click="cadastrar()">
            Cadastrar
        </button>

        </div>
    </ion-content>
</ion-view>
