<ion-view view-title="Senha">
    <ion-content>
        <div class="senha">
        <h2 style="text-align: center">Atualização de Nome</h2>
        <label class="item item-input">
            <span class="input-label">E-mail</span>
            <input type="email" required ng-model="user.email" name="password">
        </label>
        <label class="item item-input">
            <span class="input-label">Senha</span>
            <input type="password" ng-model="user.password" name="password">
        </label>
        <label class="item item-input">
            <span class="input-label">Nome</span>
            <input type="text" ng-model="user.name" name="name">
        </label>
        <button class="button button-block button-balanced" ng-click="updateName()">
            Atualizar Nome
        </button>
        <button class="button button-block button-positive" ng-click="voltarConta()">
            Voltar
        </button>
            </div>
</ion-content>
    </ion-view>