/* Empty. Add your own CSS if you like */
.centro{
    text-align: center;
}
.login{
    margin: 100px 10px auto 10px;
}
.login2{
    margin: auto 10px auto 10px;
}
.conta{
     margin: 100px 10px auto 10px;
 }